<!DOCTYPE html>
<html>

<head>
	<title>TTC data saver</title>
</head>

<body>
	track nearby TTC vehicles<br>
	lat: <input type='text' id='lat' value=43.645262><br>
	lon: <input type='text' id='lon' value=-79.382742><br><br>
	<input type='button' onclick='update()' value='update'><br><br>
	<input type='button' onclick='deselect()' value='deselect'><br>

	<canvas id='canvas' width=720 height=720>
		<p>Your browser does not support the canvas element.</p>
	</canvas><br>

	<div id='selected'></div>

	<script>

function e(id) { return document.getElementById(id); }
function v(id) { return e(id).value; }
function last(array){ return array[array.length - 1]; }

const ICON_SIZE = 4;
const PIXELS_PER_DEGREE = 2e4;
const CANVAS = e('canvas');
const CONTEXT = CANVAS.getContext('2d');

const gVehicles = {};
var gSelected = [];
var gLat, gLon;

function vehicleGetPixelCoords(vehicle) {
	return {
		x: (vehicle.lon - gLon) * PIXELS_PER_DEGREE + CANVAS.width / 2,
		y: -(vehicle.lat - gLat) * PIXELS_PER_DEGREE + CANVAS.height / 2,
	};
}

function drawRect(x, y, w, h, r, g, b) {
	CONTEXT.fillStyle = `rgb(${r}, ${g}, ${b})`;
	CONTEXT.fillRect(x, y, w, h);
}

function drawIcon(x, y, r = 255, g = 0, b = 0) {
	drawRect(
		x - ICON_SIZE / 2, y - ICON_SIZE / 2,
		ICON_SIZE, ICON_SIZE,
		r, g, b
	);
}

function render() {
	drawRect(0, 0, CANVAS.width, CANVAS.height, 0, 0, 0);// background
	drawIcon(CANVAS.width / 2, CANVAS.height / 2, 0, 255);// self
	for (const i in gVehicles) {
		const vehiclePath = gVehicles[i];
		const r = 255;
		const g = 0;
		const b = gSelected.includes(i) ? 255 : 0;
		let v;
		let first = true;
		CONTEXT.strokeStyle = `rgb(${r}, ${g}, ${b})`;
		CONTEXT.beginPath();
		for (const j of vehiclePath) {
			v = vehicleGetPixelCoords(j);
			if (first) {
				first = false;
				CONTEXT.moveTo(v.x, v.y);
			} else {
				CONTEXT.lineTo(v.x, v.y);
			}
		}
		CONTEXT.stroke();
		drawIcon(v.x, v.y, r, g, b);
		const vehicle = last(vehiclePath);
		CONTEXT.fillText(vehicle.routeId, v.x + ICON_SIZE, v.y);
	}
}

async function update() {
	gLat = parseFloat(v('lat'));
	gLon = parseFloat(v('lon'));
	let url = window.location.href;
	if (!url.endsWith('/')) url += '/';
	url += `vehicles?lat=${gLat}&lon=${gLon}`;
	const response = await fetch(url);
	const vehicles = await response.json();
	for (const i in vehicles) {
		if (!(i in gVehicles)) gVehicles[i] = [];
		gVehicles[i].push(vehicles[i]);
	}
	render();
}

function listSelected() {
	const selected = e('selected');
	while (selected.firstChild) selected.removeChild(selected.firstChild);
	for (const i of gSelected) {
		selected.appendChild(document.createTextNode(i));
		const vehiclePath = gVehicles[i];
		for (const j of vehiclePath) {
			const ul = document.createElement('ul');
			selected.appendChild(ul);
			for (const k in j) {
				const li = document.createElement('li');
				li.innerText = `${k}: ${j[k]}`;
				ul.appendChild(li);
			}
		}
	}
}

function deselect() {
	gSelected = [];
	render();
	listSelected();
}

function handleTap(x, y) {
	const rect = CANVAS.getBoundingClientRect();
	x -= rect.left;
	y -= rect.top;
	for (const i in gVehicles) {
		const vehicle = last(gVehicles[i]);
		const v = vehicleGetPixelCoords(vehicle);
		if (Math.abs(v.x - x) + Math.abs(v.y - y) < 10) gSelected.push(i);
	}
	listSelected();
	render();
}

CANVAS.addEventListener('mousedown', function(e) {
	handleTap(e.x, e.y);
});
CANVAS.addEventListener('touchstart', function(e) {
	for (const i of e.changedTouches)
		handleTap(i.x, i.y);
});

params = new URLSearchParams(window.location.search);
if (params.has('lat')) e('lat').value = params.get('lat');
if (params.has('lon')) e('lon').value = params.get('lon');

	</script>
</body>

</html>
