{% extends 'base.html' %}

{% block content %}
	see the shape and stops of a TTC route<br>
	route: <select id='routeInput' oninput='get()'><option/></select><br>
	direction: <select id='directionInput' oninput='render()'></select><br>
	<input type='button' value='reset' onclick='reset()'><br>
	rotate stop titles: <input type='checkbox' id='rotateInput' oninput='render()'><br>

	<canvas id='canvas' width=720 height=720>
		<p>Your browser does not support the canvas element.</p>
	</canvas><br>

	<p id='message'></p>

	<script>

{% include 'boilerplate_canvas.js' %}
{% include 'lat_lon_pixel.js' %}

const ROUTES = {
	{% for k, v in routes.items %}
		{{ k }}: '{{ v }}',
	{% endfor %}
};

var gStops;
var gDirections;
var gLat, gLon, gLatMin, gLatMax, gLonMin, gLonMax;
var gPixelsPerDegree;

for (i in ROUTES) {
	const opt = document.createElement('option');
	opt.value = i;
	opt.textContent = ROUTES[i];
	e('routeInput').appendChild(opt);
}

async function get() {
	const response = await fetch(`/ttc/routes/get?tag=${v('routeInput')}`);
	if (response.status != 200) {
		e('message').innerHTML = `${response.status}: ${response.statusText}.`;
		return;
	}
	const json = await response.json();
	gStops = json.stops;
	gDirections = json.directions;
	gLatMin = parseFloat(json.latMin);
	gLatMax = parseFloat(json.latMax);
	gLonMin = parseFloat(json.lonMin);
	gLonMax = parseFloat(json.lonMax);
	const d = e('directionInput');
	while (d.hasChildNodes()) d.removeChild(d.lastChild);
	for (i in gDirections) {
		const opt = document.createElement('option');
		opt.value = i;
		opt.textContent = gDirections[i].title;
		d.appendChild(opt);
	}
	reset();
}

function reset() {
	gLat = (gLatMin + gLatMax) / 2;
	gLon = (gLonMin + gLonMax) / 2;
	gPixelsPerDegree = 0.9 * Math.min(
		CANVAS.height /  (gLatMax - gLatMin),
		CANVAS.width  / ((gLonMax - gLonMin) * aspect(gLat)),
	);
	render();
}

function render() {
	drawRect(0, 0, CANVAS.width, CANVAS.height, 0, 0, 0);// background
	CONTEXT.strokeStyle = `rgb(255, 0, 0)`;
	CONTEXT.beginPath();
	for (const i of gDirections[v('directionInput')].stops) {
		const stop = gStops[i];
		p = getPixelCoords(parseFloat(stop.lat), parseFloat(stop.lon), gLat, gLon, gPixelsPerDegree, CANVAS);
		CONTEXT.lineTo(p.x, p.y);
		drawIcon(p.x, p.y, 255, 0, 0);
		CONTEXT.save();
		CONTEXT.translate(p.x, p.y);
		if (e('rotateInput').checked) CONTEXT.rotate(-Math.PI / 2);
		CONTEXT.fillText(stop.title, ICON_SIZE, 0);
		CONTEXT.restore();
	}
	CONTEXT.stroke();
}

function handleTap(x, y) {
	const rect = CANVAS.getBoundingClientRect();
	x -= rect.left;
	y -= rect.top;
	const latLon = getLatLon(x, y, gLat, gLon, gPixelsPerDegree, CANVAS);
	gLat = latLon.lat;
	gLon = latLon.lon;
	gPixelsPerDegree *= 1.5;
	render();
}

CANVAS.addEventListener('mousedown', function(event) {
	handleTap(event.x, event.y);
});
CANVAS.addEventListener('touchstart', function(event) {
	if (event.x === undefined) return;
	for (const i of event.changedTouches)
		handleTap(i.x, i.y);
}, {passive: true});

	</script>
{% endblock %}
