{% extends 'base.html' %}

{% block content %}
	track nearby TTC vehicles<br>
	lat: <input type='text' id='lat' value=43.645262><br>
	lon: <input type='text' id='lon' value=-79.382742><br>
	unparsed: <input type='text' id='unparsed'><input type='button' onclick='parse()' value='parse'><br>
	<input type='button' onclick='getLocation()' value='get location'><br>
	<input type='button' onclick='toUrl()' value='to URL'><br>
	<br>
	<input type='button' onclick='update()' value='update' id='update'><br><br>
	<input type='button' onclick='deselect()' value='deselect'><br>

	<canvas id='canvas' width=720 height=720>
		<p>Your browser does not support the canvas element.</p>
	</canvas><br>

	<div id='selected'></div>
	<p id='message'/>

	<script>

{% include 'boilerplate_canvas.js' %}
{% include 'lat_lon_pixel.js' %}

function last(array){ return array[array.length - 1]; }

const PIXELS_PER_DEGREE = 2e4;

const gVehicles = {};
var gSelected = [];
var gLat, gLon;

function parse() {
	const unparsed = v('unparsed');
	[e('lat').value, e('lon').value] = unparsed.match(/.*?(-?\d+(?:\.\d+)?).+?(-?\d+(?:\.\d+)?)/).slice(1, 3)
}

function toUrl() {
	window.location.replace(`${window.location.pathname}?lat=${v('lat')}&lon=${v('lon')}`);
}

function getLocation() {
	navigator.geolocation.getCurrentPosition(
		(position) => {
			const { latitude, longitude } = position.coords;
			e('lat').value = latitude;
			e('lon').value = longitude;
		},
	);
}

function render() {
	drawRect(0, 0, CANVAS.width, CANVAS.height, 0, 0, 0);// background
	drawIcon(CANVAS.width / 2, CANVAS.height / 2, 0, 255);// self
	for (const i in gVehicles) {
		const vehiclePath = gVehicles[i];
		const r = 255;
		const g = 0;
		const b = gSelected.includes(i) ? 255 : 0;
		let s;
		let v;
		let first = true;
		// draw path
		CONTEXT.strokeStyle = `rgb(${r >> 1}, ${g >> 1}, ${b >> 1})`;
		CONTEXT.beginPath();
		for (const j of vehiclePath) {
			s = getPixelCoords(j.lat, j.lon, gLat, gLon, PIXELS_PER_DEGREE, CANVAS);
			if (first) {
				first = false;
				CONTEXT.moveTo(s.x, s.y);
			} else {
				CONTEXT.lineTo(s.x, s.y);
			}
			v = {
				x: -j.speed * Math.sin(j.heading / 180 * Math.PI),
				y: +j.speed * Math.cos(j.heading / 180 * Math.PI),
			}
		}
		CONTEXT.stroke();
		// draw velocity
		CONTEXT.strokeStyle = `rgb(${r}, ${g}, ${b})`;
		CONTEXT.beginPath();
		CONTEXT.moveTo(s.x, s.y);
		CONTEXT.lineTo(s.x + v.x, s.y + v.y);
		CONTEXT.stroke()
		// draw vehicle
		drawIcon(s.x, s.y, r, g, b);
		const vehicle = last(vehiclePath);
		CONTEXT.fillText(vehicle.route, s.x + ICON_SIZE, s.y);
	}
}

async function update() {
	e('update').disabled = true;
	gLat = parseFloat(v('lat'));
	gLon = parseFloat(v('lon'));
	const url = `/ttc/vehicles/get?lat=${gLat}&lon=${gLon}`;
	const response = await fetch(url);
	if (response.status != 200) {
		var error = '';
		if (response.headers.get('content-type').includes('application/json')) {
			const json = await response.json();
			error = json.error;
		}
		e('message').innerHTML = `${response.status}: ${response.statusText}. ${error}`;
	} else {
		const vehicles = await response.json();
		for (const i in vehicles) {
			if (!(i in gVehicles)) gVehicles[i] = [];
			gVehicles[i].push(vehicles[i]);
		}
		render();
	}
	e('update').disabled = false;
}

function listSelected() {
	const selected = e('selected');
	while (selected.firstChild) selected.removeChild(selected.firstChild);
	for (const i of gSelected) {
		selected.appendChild(document.createTextNode(i));
		const vehiclePath = gVehicles[i];
		for (const j of vehiclePath) {
			const ul = document.createElement('ul');
			selected.appendChild(ul);
			for (const k in j) {
				const li = document.createElement('li');
				li.innerText = `${k}: ${j[k]}`;
				ul.appendChild(li);
			}
		}
	}
}

function deselect() {
	gSelected = [];
	render();
	listSelected();
}

function handleTap(x, y) {
	const rect = CANVAS.getBoundingClientRect();
	x -= rect.left;
	y -= rect.top;
	for (const i in gVehicles) {
		const vehicle = last(gVehicles[i]);
		const v = getPixelCoords(vehicle.lat, vehicle.lon, gLat, gLon, PIXELS_PER_DEGREE, CANVAS);
		if (Math.abs(v.x - x) + Math.abs(v.y - y) < 10) {
			const index = gSelected.indexOf(i);
			if (index < 0) gSelected.push(i);
			else gSelected.splice(index, 1);
		}
	}
	listSelected();
	render();
}

CANVAS.addEventListener('mousedown', function(e) {
	handleTap(e.x, e.y);
});
CANVAS.addEventListener('touchstart', function(e) {
	for (const i of e.changedTouches)
		handleTap(i.x, i.y);
}, {passive: true});

params = new URLSearchParams(window.location.search);
if (params.has('lat')) e('lat').value = params.get('lat');
if (params.has('lon')) e('lon').value = params.get('lon');

	</script>
{% endblock %}
